/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2017, 11:29:45 PM
    Author     : CameronSchorg
*/

body {
    background-color: lightblue;
    font-family: sans-serif;
}

table {
    color: white;
}



td {
    padding-right: 20px;
}

h4 {
    color: black;
    text-align: center;

}

#clear {
    margin-left: 145px;
}

div {
    margin: auto;
    width: 50%;
}

hr {
    border-width: 2px;
}

#results_table td{
    border: 1px solid black;
}

#results_table {
    background-color: white;
    color: black;
}
